*{ 
    margin: 0; padding: 0;
    font-family: 'Asap', sans-serif;
}


.title-container{ 
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("../../imgs/vingroup.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;   
    position: relative;
    display: flex; 
    align-items: flex-end;
    min-height: 55vh;
    color: white; 
} 

.title{   
    margin-bottom: 50px;
    margin-left: 20px;
}

.title h2{
    padding: 20px 0;  
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.5px; 
    margin-bottom: 10px;
    text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.title p{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px; 
    color: #ebe8e8;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.logo img{
    width: 120px;  
}

.style{
    font-size: 1.5rem;
    padding: 0 5px;
    color: white;
}

.logo{
    width: 220px; 
    height: 150px;
    background-color: white;
    margin-left: 65px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-contaniner{
    position: relative;  
    right: 0; 
}

.banner-contaniner ul{
    display: flex;
    justify-content: flex-end; 
    border-bottom: 2px solid #7d6f6f; 
    list-style: none;
    padding: 15px;
}

.banner-contaniner a{ 
    text-decoration: none;
    color: black; 
    margin-left: 25px; 
    padding-bottom: 8px;
}

.banner-contaniner a:hover{
    border-bottom: 2px solid #7d6f6f;
}