*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

body{
    margin: 0 85px;
}

.title{
    text-align: left;
    color: #cf5351;
    margin: 20px 0px;
} 

.menu-container{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-container li{ 
    text-align: center;    
    display: flex;
    border-radius: 80px;
    flex-direction: column;  /* xếp a và p theo chiều dọc */
    align-items: center;     /* căn giữa ngang */
    justify-content: center; /* căn giữa dọc */
}

.menu-container li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #daafae;
    border-radius: 80px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 15px; 
    padding: 10px 15px; 
    transition: background-color 0.3s, color 0.3s;
}

.menu-container li a span{
    display: block;
    font-size: 11px; 
    margin-top: 6px; 
    font-style: oblique;
}

.menu-container li a:hover, .menu-container li:hover{
    background-color: #c5794a;
    color: white; 
}
 
.districts-container img{
    width: 100%; 
    height: 100%; 
    filter: brightness(70%);
    position: relative;
    object-fit: cover;
}

.districts-container{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.district-container{
    position: relative; 
    color: white;
    height: 230px;
    box-shadow: 1px 1px 1px #3f3424;
}

.district-container h4{
    position: absolute;
    color: white;
    left: 10px;
    top: 10px; 
    font-size: 20px;
    z-index: 1;
    margin: 20px;
    text-shadow: 0 1px 4px rgba(0,0,0,0.8)
}

.district-container p{
    position: absolute;
    left: 10px;
    bottom: 10px; 
    font-variant: small-caps;
    font-size: larger;
    z-index: 1;
    margin: 20px;
    text-shadow: 0 1px 4px rgba(0,0,0,0.8)
}